*{
    margin:0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
header{
    background-color: black;
    color:white;
    height: 40px;
    padding:  20px;
    padding-bottom: 30px;
    position: sticky;
    
    top:0px;
}
header>h1{
    font-size: 48px;
}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    border: 1px solid grey;
    border-radius: 5px;
    margin:8px;
    padding: 30px;
    /* width:27vw; */
    /* height:30vh; */
    
}
.card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid navy;
    padding-bottom: 20px;
}
.card-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    gap:10px;
}
.price{
    align-self: flex-end;
}
p{
    font-size: 14px;
    margin-top: 10px;
}
.date{
    display: flex;
    gap:3px
}
.approved{
    background-color: rgb(77, 191, 236);
    padding: 7px;
    border-radius: 4px;
    
}
.cancelled{
    background-color: red;
    padding: 7px;
    border-radius: 4px;
}
.pending{
    background-color: yellow;
    padding: 7px;
    border-radius: 4px;
}
.completed{
    background-color: green;
    padding: 7px;
    border-radius: 4px;
}
::-webkit-scrollbar{
    display: none;
}
@media screen and (max-width:500px) {
    #container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
}
@media screen and (max-width:800px) and (min-width:500px){
    #container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
}
